@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap");
* {
  box-sizing: border-box;
  font-family: "BIZ UDPMincho", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--white);
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in-out;
}

html,
body {
  background-color: var(--background);
  margin: 0;
}

p {
  line-height: 24px;
  font-size: 16px;
}

strong {
  font-weight: 900;
}

a {
  color: var(--secondary);
  font-weight: 900;
  text-decoration: none;
  letter-spacing: 1px;
}
a:hover {
  text-decoration: none;
  color: rgb(254, 115, 105);
}

button {
  font-family: "BIZ UDPMincho", serif;
  display: flex;
  place-items: center;
  padding: 10px 30px;
  color: var(--black);
  background-color: var(--secondary);
  border-radius: 4rem;
  border: 0px solid var(--black);
  font-size: 20px;
  background-image: linear-gradient(var(--black), var(--black));
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% 0%;
  margin: 10px;
  font-weight: 600;
  cursor: pointer;
}
button:hover {
  color: var(--secondary);
  background-size: 100% 100%;
}
button:hover i {
  color: var(--secondary);
}
button:hover svg {
  stroke: var(--secondary);
}

.page-heading {
  padding: 30px 20px;
}
.page-heading h1 {
  font-size: 36px;
  letter-spacing: 1px;
}
.page-heading h1,
.page-heading p {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 20px 5px;
  background-color: var(--primary);
  border-bottom: 2px solid var(--black);
}
header img {
  max-width: 400px;
  width: 100%;
}
header nav {
  max-width: 1100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  flex-wrap: wrap;
}
header nav a {
  font-size: 22px;
  max-width: 180px;
  width: 100%;
  height: 50px;
  margin: 3px 10px;
  border-radius: 3px;
  background-image: linear-gradient(var(--secondary), var(--secondary));
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% 3%;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
header nav a:hover {
  background-size: 100% 100%;
  color: var(--black);
}
header nav a:hover svg {
  stroke: var(--black);
}
header nav a:hover i {
  color: var(--black);
}
header nav a svg {
  stroke: var(--secondary);
  width: 25px;
  margin-right: 5px;
}
header .date-time {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
}
header .date-time div {
  padding: 5px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 20px;
  background-color: var(--primary);
  border-top: 2px solid var(--black);
  margin-top: 30px;
  flex-wrap: wrap;
}
footer img {
  max-width: 300px;
  width: 100%;
}
footer nav {
  max-width: 300px;
  width: 100%;
  display: flex;
  padding: 10px 0px;
  flex-direction: column;
  position: relative;
  z-index: 999999;
}
footer nav h3 {
  font-size: 22px;
  margin: 0px 10px 5px;
  padding: 10px 5px;
  border-bottom: 2px solid var(--black);
}
footer nav a,
footer nav p {
  font-size: 18px;
  max-width: 280px;
  width: 100%;
  margin: 0px 10px;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  font-weight: 400;
  background-image: linear-gradient(var(--secondary), var(--secondary));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  color: var(--white);
}
footer nav a:hover,
footer nav p:hover {
  color: var(--black);
  background-size: 100% 100%;
}
footer nav a:hover strong,
footer nav a:hover i,
footer nav a:hover span,
footer nav p:hover strong,
footer nav p:hover i,
footer nav p:hover span {
  color: var(--black);
}
footer nav a:hover svg,
footer nav p:hover svg {
  stroke: var(--black);
}
footer nav a strong,
footer nav p strong {
  letter-spacing: 1px;
  color: var(--secondary);
  font-weight: 400;
}
footer nav a svg,
footer nav p svg {
  stroke: var(--secondary);
  width: 27px;
  margin-right: 9px;
}
footer nav a i,
footer nav p i {
  font-size: 30px;
  color: var(--secondary);
  margin-right: 5px;
}
footer nav p {
  justify-content: space-between;
}
footer div {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}
footer div img {
  max-width: 700px;
  width: 100%;
  opacity: 0.1;
}

.contact-box {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  border-radius: 5px;
  margin: 10px;
  padding: 35px 20px;
  position: relative;
  bottom: 60px;
  z-index: 2;
}
.contact-box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact-box-bottom {
  background-color: var(--dark-grey);
  bottom: 104px;
  z-index: 1;
}
.contact-box svg {
  width: 50px;
  stroke: var(--secondary);
}
.contact-box p {
  text-align: center;
  margin: 0;
}
.contact-box-social {
  display: flex;
  justify-content: center;
}
.contact-box-social a {
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-image: linear-gradient(var(--black), var(--black));
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% 0%;
  cursor: pointer;
}
.contact-box-social a:hover {
  color: var(--secondary);
  background-size: 100% 100%;
}
.contact-box-social a:hover i {
  color: var(--secondary);
}
.contact-box-social a:hover svg {
  stroke: var(--secondary);
}
.contact-box-social a i {
  font-size: 24px;
  color: var(--black);
}

.project-card {
  max-width: 300px;
  width: 100%;
  height: 373px;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}
.project-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px 0px;
}
.project-card-inner {
  border-radius: 3px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.project-card-inner img {
  max-width: 300px;
  width: 100%;
  border-radius: 2px;
}
.project-card-front, .project-card-back {
  position: absolute;
  max-width: 300px;
  width: 100%;
  padding: 4px;
  height: 373px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-card-front {
  background-color: var(--secondary);
}
.project-card-back {
  color: #fff !important;
  background-image: linear-gradient(var(--secondary), var(--secondary));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: all 0.3s ease-in-out;
}
.project-card-back h3, .project-card-back h5 {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#fff, #fff);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: all 0.3s ease-in-out;
}
.project-card:hover .project-card-back {
  color: #fff !important;
  background-size: 100% 100%;
  transition: all 0.3s ease-in-out;
}
.project-card:hover .project-card-back h3, .project-card:hover .project-card-back h5 {
  background-size: 100% 100%;
  transition: all 0.3s ease-in-out;
}
.project-card:active {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.project-card:active .project-card-back {
  color: #fff !important;
  background-size: 100% 100%;
  transition: all 0.3s ease-in-out;
}
.project-card:active .project-card-back h3, .project-card:active .project-card-back h5 {
  background-size: 100% 100%;
  transition: all 0.3s ease-in-out;
}

:root {
  --background: rgb(57, 58, 60);
  --background-img: url(../img/bg/wood-bg.jpg);
  --primary: rgb(57, 58, 60);
  --secondary: rgb(255, 147, 0);
  --white: #fff;
  --black: #000;
  --grey: rgb(77, 78, 80);
  --dark-grey: rgb(41, 42, 44);
  --yellow: rgb(251, 251, 114);
  --light-yellow: rgb(244, 244, 158);
  --fontfamily-BIZ: "BIZ UDPMincho", serif;
}/*# sourceMappingURL=styles.css.map */