@use "../css/components/animista";

@use "../css/general/modals";
@use "../css/general/tags";
@use "../css/general/text";

@use "../css/layout/container";
@use "../css/layout/header";
@use "../css/layout/footer";

@use "../css/layout/pages/contact";
@use "../css/layout/pages/projects";

:root {
    --background: rgb(57, 58, 60);
    --background-img: url(../img/bg/wood-bg.jpg);
    --primary: rgb(57, 58, 60);
    --secondary: rgb(255, 147, 0);
    // --secondary: rgb(244, 67, 54);
    --white: #fff;
    --black: #000;
    --grey: rgb(77, 78, 80);
    --dark-grey: rgb(41, 42, 44);

    --yellow: rgb(251, 251, 114);
    --light-yellow: rgb(244, 244, 158);
    --fontfamily-BIZ: 'BIZ UDPMincho', serif;
}