@use "../../components/animation" as *;

.contact-box {
    &-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    border-radius: 5px;
    margin: 10px;
    padding: 35px 20px;
    position: relative;
    bottom: 60px;
    z-index: 2;

    &-bottom {
        background-color: var(--dark-grey);
        bottom: 104px;
        z-index: 1;
    }

    svg {
        width: 50px;
        stroke: var(--secondary);
    }

    p {
        text-align: center;
        margin: 0;
    }

    &-social {
        display: flex;
        justify-content: center;

        a {
            background-color: var(--secondary);
            padding: 10px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            @include backgroundFromBottomBlack;
            cursor: pointer;

            i {
                font-size: 24px;
                color: var(--black);
            }
        }
    }
}